{% extends 'vacancy/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}書類一覧：{{ company.company_name | default_if_none:'' }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'documents/css/style.css' %}">
    {% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}{{ company.company_name | default_if_none:'' }} 書類一覧{% endblock %}

    {% block contents %}
        <div class="row justify-content-center">
            <div class="col col-auto">
                <div id="document-list">
                {% for document in documents %}
                    <div class="document">
                        <div class="title">{{ forloop.counter }}: {{ document.file_title }} <a href="{{ document.cache_file_url }}" class="btn btn-sm btn-outline-primary" target="_blank" rel="noopener noreferrer">開く</a></div>
                        <div class="comment">{{ document.comment }}</div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}{% endblock %}
