{% extends 'vacancy/base.html' %}
{% load static %}
{% load humanize %}

    {% block head_title %}{{ area.name | default_if_none:'' }}エリア 空室一覧：{{ company.company_name | default_if_none:'' }}{% endblock %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'building/css/style.css' %}">
    {% endblock %}

    {% block header %}{% endblock %}

    {% block h1_title %}{{ area.name | default_if_none:'' }}エリア 空室一覧：{{ company.company_name | default_if_none:'' }}{% endblock %}

    {% block contents %}
        <div id="building-list">
        {% if buildings|length > 0 %}
            {% include 'building/includes/pagination.html' %}
            {% include 'building/includes/building_list.html' %}
            {% include 'building/includes/pagination.html' %}
        {% else %}
            <p class="no-buildings">該当する建物がありません。</p>
        {% endif %}
    {% endblock %}

    {% block footer %}{% endblock %}
